.wrapper {
    padding: 1em;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 10px;
    background-color: rgb(37, 37, 37);
}

.imageWrapper {
    border: 1px solid rgb(87, 87, 87);
    background-color: rgb(107, 107, 107);
    border-radius: 10px;
    position: relative;
    align-items: center;
}


.buttonWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}