.wrapper {
    position: fixed;
    max-width: 100%;
    max-height: 100%;

    width: 100%;
    height: 10%;
    top: 0;
    z-index: 5;
    background-color: black;
}

.navigation {
    display: flex;
    gap: 50px;
    height: 100%;
    align-items: center;
}