.firstSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.leftSectionWrapper {
    gap: 300px;
}

.badgeSpacing {
    display: flex;
    gap: 0.5em;
}

.stats {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.statsItem {
    justify-items: center;
}

.tableWrapper {
    padding-top: 1em;
}


td:first-child {
    padding-right: 20px;
}

td:last-child {
    padding-left: 20px;
}